#
# Mimic config.
#

[tls]
enabled = true
chain = /etc/ssl/certs/ssl-cert-snakeoil.pem
private_key = /etc/ssl/private/ssl-cert-snakeoil.key

[server]
listen_ip = 127.0.0.1
listen_port = 9600

[client]
server_hostname = localhost
server_ip = 127.0.0.1
server_port = 9600
http_hostname = localhost
http_port = 9601
